.card-layout {
    max-width: 1200px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); 
    gap: 50px; 
    padding: 20px; 
  }
  
  .blog__card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
  }
  
  .blog__card:hover {
    transform: translateY(-5px); 
  }
  
  /* Image in the card */
  .blog__card img {
    width: 100%;
    height: 360px;
    border-radius: 16px;
    object-fit: cover; 
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card__content h3 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card__content p {
    font-size: 0.95rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  /* Read More link */
  .card__content a {
    font-size: 0.9rem;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .card__content a:hover {
    text-decoration: underline; 
  }
  
  @media (max-width: 768px) {
    .card-layout {
      grid-template-columns: 1fr; 
      grid-auto-columns: 1fr;
    }
    .blog__card{
      width: 100%; 
      margin: 20px auto;
    }

  }
  