.slider-container {
    margin-top: 50px;
    margin-bottom: 100px;
}


.slider-container h2 {
    text-align: center;
}


.image_wrapper {
    margin: 8px 30px;
}


.image_wrapper img {
    width: 80%;
}